.mainSidPare{
/* height: 820px; */
position: relative;
}
/* .imglogohind{

    width: 90%;
    height: 90%;
} */
.contienerDiv{
display: flex;
flex-wrap: wrap;

}
a:hover{
    font-size: large;
    color: blue;
}
.aboutimge{
    /* height: 500px; */
    width: 100%;
    background-color: silver;
    width: 100%;
    background-color: silver;
    margin-left: 7%;
    border-radius: 29%;
    height: 300px;
}
body,h1,h2,h3,h4,h5,h6,p {
    
    color: white;
    font-family: "Raleway", sans-serif}
#skillDiv{

    /* display: block; */
    height: 600px;

    /* background-color: rgb(184, 158, 158); */
}
.carousel-item img{
width: 100%;
height: 500px;


}
.logo{
text-align: center;

}
/* .matcskkil{
    height: 800px;
} */
/* .mainSidPare{
    position:fixed;
    left: 0px ;
    margin-right: 10px;
} */

.skillClass{
/* border: 3px rgb(53, 56, 2) solid; */
padding: 2%;
align-items: center;
background-color: white;
}


.skillspan{
    text-align: center;
font-size: 200%;
margin-left: 35%;
color: black;
}
.skillsp{
    color: black;
}
#abputDiv{
    background-image: url("https://i.stack.imgur.com/jRLAt.png");
    background-size: 100% 100%;
}
.projectClass{
    /* background-color: black; */
}

.maimaboutDIVshow{

    padding-top: 200px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: silver;
    height: 800px;

}
.textAbout{
    padding-left: 5%;
}
.card-title{

color: black;

}
.card-text{
color: black;
height: 60%;
}
.projecrow{
    padding: 1%;
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
gap: 2%;

}
body {
  background-color: #eee;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
}

#gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 75vw;
  margin: 20px auto;
}

figure {
  cursor: move;
  margin: 10px;
  padding: 0px;
  position: relative;
}

figure img {
  width: 100%;
}

figure img {
  filter: hue-rotate(10);
  padding: 0px;
  border: 3px solid #fff;
  box-shadow: 0px 0px 3px #ccc;
  z-index: -1;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.colorturn {
  filter: hue-rotate(330deg) saturate(0.8);
}

figcaption {
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  color: #5e423f;
  z-index: 1;
  padding: 9px 0px 11px 0px;
  text-transform: uppercase;
  font-size: 1vw;
  position: absolute;
  bottom: 6px;
}

@media screen and (max-width: 600px) {
  figcaption {
    font-size: 3vw;
  }
  #gallery {
    grid-template-columns: 1fr;
    width: 90vw;
  }
}

.heart::before {
  font-family: "FontAwesome";
  content: "\f004";
  top: 0.4em;
  left: 0.5em;
  color: #fff;
  z-index: 1000;
  font-size: 2vw;
  position: absolute;
  opacity: 0;
  transform: scale(0);
  animation: animat 4.5s ease-in-out forwards;
}

.dark::before {
  color: #5e423f;
}

@keyframes animat {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  10% {
    opacity: 1;
    transform: scale(1.2);
  }

  20% {
    opacity: 1;
    transform: scale(1);
  }
  
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
.btndonloadresume{
 width: 210px;  


}

img:hover{

}
/* footer */
.center {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  
  
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display:  initial !important;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-github{
  background: #007bb5;
  color: white;

}




  

.foo{
background-color: #131a1f;
  display: flex;
  gap: 10%;
  height: 100px;
 
  align-items: center;
  justify-content: center;
}